a:hover{
    text-decoration: none;
}
#about {
   background: url("/images/about-bg.jpg") center top no-repeat fixed;
   background-size: cover;
   padding: 29px 0 40px 0;
   position: relative;
}
#about .product-image{
   max-width: 100%;
}
#about .title a{
   font-size: 1.8rem !important;
    margin: 20px 0;
    display: block;
    font-weight: bold !important;
}
.section-header h3 {
   font-size: 32px;
   text-transform: uppercase;
   text-align: center;
   font-weight: 700;
   position: relative;
   padding-bottom: 15px;
}

.section-header h3::before {
   content: '';
   position: absolute;
   display: block;
   width: 120px;
   height: 1px;
   background: #ddd;
   bottom: 1px;
   left: calc(50% - 60px);
}

.section-header h3::after {
   content: '';
   position: absolute;
   display: block;
   width: 40px;
   height: 3px;
   background: #18d26e;
   bottom: 0;
   left: calc(50% - 20px);
}

.section-header p {
   text-align: center;
   padding-bottom: 30px;
}
#about .price{
   text-align: center !important;
   font-size: 1.3rem !important;
   font-weight: bold;
   color: crimson !important;
}
#about .container {
   position: relative;
   background: rgba(0, 0, 0, 0.7);
   padding: 30px;
   border-radius: 10px;
   color: #fff;
}

#about .about-col {
   background: #fff;
   border-radius: 0 0 4px 4px;
   box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
   margin-bottom: 20px;
   padding:20px;
}

#about .about-col .img {
   position: relative;
}

#about .about-col .img img {
   border-radius: 4px 4px 0 0;
}

#about .about-col .icon {
   width: 64px;
   height: 64px;
   padding-top: 8px;
   text-align: center;
   position: absolute;
   background-color: #18d26e;
   border-radius: 50%;
   text-align: center;
   border: 4px solid #fff;
   left: calc( 50% - 32px);
   bottom: -30px;
   transition: 0.3s;
}

#about .about-col i {
   font-size: 24px;
   line-height: 1.5;
   color: #fff;
   transition: 0.3s;
}

#about .about-col:hover .icon {
   background-color: #fff;
}

#about .about-col:hover i {
   color: #18d26e;
}

#about .about-col h2 {
   color: #000;
   text-align: center;
   font-weight: 700;
   font-size: 20px;
   padding: 0;
   /*margin: 40px 0 12px 0;*/
}

#about .about-col h2 a {
   color: #000;
}

#about .about-col h2 a:hover { 
   color: #18d26e;
}

#about .about-col p {
   font-size: 14px;
   line-height: 24px;
   color: #333;
   margin-bottom: 0;
   padding: 0 20px 20px 20px;
   text-align: justify;
}

#about .about-col h2 a{
   text-decoration: none;
}
#about .btn {
   margin-right: 10px;
   padding: 15px 30px;
   border-radius: 20px;
   border: none;
}