.hero {
	min-height: 500px;
	background-image: url(/images/banner-pizza.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	font-family: 'Montserrat', sans-serif !important;
	/*font-family: 'Poppins', sans-serif;*/
	color: #fff;
}
.show-button:hover{
	cursor: pointer;
}
.hero .text-block {
	padding: 80px 0;
}
.hero p {
	text-transform: uppercase;
	color: #444;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 2px;
	font-size: 2.5rem;
}

.hero h1 {
	font-family: 'Montserrat', sans-serif !important;
	padding: 0px !important;
	font-size: 4.5rem;
	color: #444;
	text-shadow: 2px 2px 5px #ddd;
    text-transform: uppercase;
}

.hero h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.2rem;
	letter-spacing: 2px;
	font-weight: 300;
}

.hero .button {
	padding: 15px 20px;
	background: var(--mainColor);
	color: var(--textColor);
	cursor: pointer;
	margin-top: 30px;
	border-radius: 20px;
	border: none;
	font-size: 1.2rem;
    background-color: #6a994e;
}

.hero .button:hover{
    background-color: #386641;
}

.hero button:hover {
	background: var(--textColor);
	color: var(--mainColor);
}